<div class="wrapper">
    <form 
        [formGroup]="form" 
        (ngSubmit)="submit()"
    >
        <div class="form-item">
            <label for="login">Login</label>
            <input 
                formControlName="login" 
                type="text" 
                placeholder="Your Login..." 
            >
            <p 
                *ngIf="form.get('login')?.invalid && form.get('login')?.touched"
            >
                <ng-container 
                    *ngIf="form.get('login')?.errors?.['required']"
                >Login is required
                </ng-container>
                <ng-container 
                    *ngIf="form.get('login')?.errors?.['pattern']"
                >Login must contain only latin letters and numbers without spaces
                </ng-container>
            </p>
        </div>

        <div class="form-item">
            <label for="email">Email</label>
            <input 
                formControlName="email" 
                placeholder="Your email..." 
                type="email" 
            >
            <p 
                *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
            >
                <ng-container 
                    *ngIf="form.get('email')?.errors?.['required']"
                >Email is required
                </ng-container>
                <ng-container 
                    *ngIf="form.get('email')?.errors?.['email']"
                >Email must be a valid email address
                </ng-container>
            </p>
            <p 
                *ngIf="form.get('email')?.['pending']"
            >Cheking email...
            </p>
            <p 
                *ngIf="form.get('email')?.['errors']?.['uniqEmail']"
            >This email address already exists
            </p>
        </div>

        <div class="form-item">
            <label for="password">Password</label>
            <input 
                formControlName="password" 
                placeholder="Your password..." 
                type="password" 
            >
            <p 
                *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
            >
                <ng-container 
                    *ngIf="form.get('password')?.errors?.['required']"
                >Password is required
                </ng-container>
                <ng-container 
                    *ngIf="form.get('password')?.errors?.['minlength']"
                >Password must be at least {{ form.get('password')?.errors?.['minlength']?.requiredLength }} characters long. 
                You entered {{ form.get('password')?.errors?.['minlength']?.actualLength }} characters
                </ng-container>
            </p>
        </div>

        <button type="submit">Submit</button>
    </form>
  </div>
  